---
import HatchDivider from "../components/HatchDivider.astro";
const experiences = [
    {
        title: "Distributed Control Systems — Intern",
        company: "Yokogawa Electric",
        date: "May 2024 – June 2024",
        location: "Abu Dhabi, U.A.E",
        bullets: [
            "Executed inspections of DCS cabinets, ensuring adherence to functional design specifications.",
            "Developed alarm suppression systems, step function, and moving average block for industrial plant monitoring systems.",
            "Assisted in managing project engineering life cycles, contributing to the inception stage.",
        ],
    },
    {
        title: "Digital Design Course — Learning Assistant",
        company: "The Pennsylvania State University",
        date: "Aug 2023 – May 2025",
        location: "State College, PA",
        bullets: [
            "Managed and moderated an online class forum, providing feedback on student posts and facilitating discussions.",
            "Assisted the professor in grading assignments, ensuring timely and accurate evaluation of 200+ submissions per week.",
            "Collaborated with the professor and other teaching assistants to develop course materials and content.",
        ],
    },
];
---

<section
    class="scroll-mt-20 px-6 sm:px-8 py-4 lg:px-8 border-x-separator/50 border-x font-google"
    id="experience"
>
    <div class="flex items-center gap-3">
      <h1 class="font-bold text-tertiary text-xl">/experience</h1>
      <div class="flex-1 h-px bg-separator"></div>
    </div>

    <div class="flex flex-col">
        {
          experiences.map((exp, i) => (
            <>
              <div class="my-4">
                <!-- title, company, location, date -->
                <div class="flex justify-between items-baseline">
                  <div>
                    <p class="text-md font-semibold text-secondary">
                      {exp.title}
                    </p>
                    <p class="text-xs text-tertiary">
                      <span class="italic">at</span>, {exp.company}
                    </p>

                    <div class="block
                    sm:hidden text-xs text-tertiary">
                      <p>{exp.location}</p>
                      <p>{exp.date}</p>
                    </div>
                  </div>

                  <div class="hidden sm:block text-sm text-end text-tertiary">
                    <p class="text-xs">{exp.date}</p>
                    <p class="text-xs">{exp.location}</p>
                  </div>
                </div>

                <!-- bullets -->
                <div class="mt-4">
                  {exp.bullets.map((bullet) => (
                    <div class="flex gap-2">
                      <div>•</div>
                      <div class="leading-relaxed text-justify text-sm text-secondary/90">
                        <p>{bullet}</p>
                      </div>
                    </div>
                  ))}
                </div>
              </div>

              <!-- rendering divider if not last -->
              {i !== experiences.length - 1 && <HatchDivider />}
            </>
          ))
        }
    </div>
</section>
