---
import HatchDivider from "../components/HatchDivider.astro";
const featuredProjects = [
  {
    title: "MovieBoxd",
    description:[
      "Built a full-stack web application for discovering, reviewing, and tracking movies, inspired by Letterboxd.",
      "Developed a secure auth system using Supabase Auth and managed user data with Supabase (PostgreSQL).",
      "Integrated the TMDB API to fetch real-time movie metadata, ratings, and cast details.",
      "Designed a RESTful backend using Hono, enabling scalable and efficient API endpoints."
    ],
    tech: ["React", "TypeScript", "Supabase", "Hono.js", "TMDb API"],
    github: "https://github.com/Vignesh-Venkatesh/MovieBoxd",
    live: "https://movieboxd.vigneshvenkatesh.com/",
    blog: null,
  },
  {
    title: "DNS Resolver",
    description:[
      "Implemented RFC 1035 DNS wire protocol from scratch in Go, parsing binary messages across a 3-hop resolution chain (root -> TLD -> authoritative).",
      "Handled CNAME following, NS fallback when glue records are missing, compression pointer resolution, and circular pointer detection.",
      "Wrote unit tests covering the query builder, serializer, and parser with zero external test dependencies, catching offset bugs and truncation errors before integration."
    ],
    tech: ["Go"],
    github: "https://github.com/Vignesh-Venkatesh/dns-resolver",
    live: null,
    blog: "https://blog.vigneshvenkatesh.com/blog/dns-resolver-1",
  },
  {
    title: "Dynamic Memory Allocator",
    description: [
      "Designed and implemented a dynamic memory allocator, optimizing memory management through efficient allocation and deallocation of blocks in a custom heap system.",
      "Developed a segregated free list to organize memory into bins based on block sizes, improving allocation speed and reducing fragmentation.",
      "Utilized 16-byte alignment for both allocated and free blocks, ensuring performance optimization and adhering to memory structure constraints."
    ],
    tech: ["C", "C++"],
    github: "https://github.com/Vignesh-Venkatesh/DynamicMemoryAllocator",
    live: null,
    blog: null,
  },
];

const otherProjects = [
  // {
  //   title: "vtop",
  //   description: "htop-like system monitor",
  //   github: "https://github.com/Vignesh-Venkatesh/vtop",
  //   live: null,
  //   blog: null
  // },
  {
    title: "wordy",
    description: "word count tool similar to Linux's wc.",
    github: "https://github.com/Vignesh-Venkatesh/wordy",
    live: null,
    blog: null,
  },
  {
    title: "movieboxd LLM users",
    description: "to simulate user activity on my LetterBoxd clone - 'MovieBoxd'.",
    github: "https://github.com/Vignesh-Venkatesh/MovieBoxd-LLM-Users",
    blog: "https://blog.vigneshvenkatesh.com/blog/movieboxd-llm-users",
    live: null
  },
];
---

<section
  class="scroll-mt-20 px-6 sm:px-8 py-6 lg:px-8 border-x border-separator/50 font-google"
  id="projects"
>
    <div class="flex items-center gap-3">
        <h1 class="font-bold text-tertiary text-xl">/projects</h1>
        <div class="flex-1 h-px bg-separator"></div>
    </div>

    <!-- Featured Projects -->
    <div class="mt-6 space-y-10">
    {featuredProjects.map((project,i) => (
        <div>
        <!-- title, links -->
        <div class="flex justify-between items-baseline">
            <h2 class="text-secondary font-semibold">
            {project.title}
            </h2>

            <div class="flex gap-3 text-tertiary text-sm">

                <!-- demo -->
                {
                  project.live && (
                    <a
                        href={project.live}
                        target="_blank"
                        class="hover:text-green transition-colors"
                    >
                        Demo
                    </a>
                  )
                }

                <!-- blog post -->
                {
                  project.blog && (
                    <a
                        href={project.blog}
                        target="_blank"
                        class="hover:text-green transition-colors"
                    >
                        Blog
                    </a>
                  )
                }

                <!-- github -->
                {
                  project.github && (
                    <a
                        href={project.github}
                        target="_blank"
                        class="hover:text-green transition-colors"
                    >
                        GitHub
                    </a>
                  )
                }
            </div>
        </div>

        <!-- description -->
        <div class="my-4">
            {project.description.map((pointer) => (
                <div class="flex gap-2">
                    <div>•</div>
                    <p class="leading-relaxed text-justify text-sm text-secondary/90">{pointer}</p>
                </div>
            ))}
        </div>

        <!-- tech -->
        <p class="text-xs font-semibold text-tertiary mt-2">
            {project.tech.join(" · ")}
        </p>
        </div>

        <!-- rendering divider if not last -->
        {i !== featuredProjects.length - 1 && <HatchDivider />}
    ))}
    </div>


    <!-- Other Projects -->
    <div class="mt-10">
    <div class="flex items-center gap-3 mb-4">
        <h1 class="font-bold text-tertiary text-md">other-projects</h1>
        <div class="flex-1 h-px bg-separator"></div>
    </div>

    <div class="grid sm:grid-cols-2 gap-4 text-sm">
        {otherProjects.map((project) => (
          <div class="flex flex-col justify-between border-separator border-b-2 border-r-2 pr-2">
              <div>
                <p class="text-secondary font-semibold">{project.title}</p>
                <p class="my-2 text-justify text-sm text-secondary/90">{project.description}</p>
              </div>

              <!-- links -->
              <div class="flex gap-3 text-tertiary mt-4 mb-2 justify-end">
                  <!-- demo -->
                  {
                    project.live && (
                      <a
                          href={project.live}
                          target="_blank"
                          class="hover:text-green transition-colors"
                      >
                          Demo
                      </a>
                    )
                  }

                  <!-- blog post -->
                  {
                    project.blog && (
                      <a
                          href={project.blog}
                          target="_blank"
                          class="hover:text-green transition-colors"
                      >
                          Blog
                      </a>
                    )
                  }

                  <!-- github -->
                  {
                    project.github && (
                      <a
                          href={project.github}
                          target="_blank"
                          class="hover:text-green transition-colors"
                      >
                          GitHub
                      </a>
                    )
                  }
              </div>
          </div>

        ))}
    </div>
    </div>
</section>
